.hero {
  width: 100vw;
  height: 40vh;
  background-image: url(./img/hero.jpg);
  background-size: cover;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}
.hero nav {
  margin-left: 2vw;
  position: relative;
  bottom: 50px;
  /*   border: 10px solid skyblue; */
  width: 300px;
  height: 150px;
  margin-bottom: 30px;
}
nav img {
  max-width: 6vw;
  max-height: auto;
  flex-shrink: 5;
}
.hero h1,
.hero h2 {
  background-color: #00000075;
  color: azure;
  padding: 20px;
  border-radius: 10px;
  justify-self: center;
  align-self: center;
}

.hero h1 {
  border-top: 160px;
  border-bottom: 10px;
  /*   font-size: 48px; */
}
.hero h2 {
  border-top: 10px;
}

body {
  background-color: slategray;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  flex-shrink: 2;
}

.bioBox {
  display: inline-flex;
  justify-content: space-evenly;
  margin-left: 3vw;
  margin-right: 5vw;
}

/* .bioContent h2 {
  font-size: 32px;
} */
.bioContent p,
.bioContent h2 {
  /* font-size: 24px; */
  padding-top: 15px;
  margin-left: 4vw;
  align-self: center;
}

#profilePic {
  max-height: 100%;
  max-width: 100%;
  padding: 10px;
  z-index: 10;
}

.lists {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.skillSet {
  /* background-color: turquoise; */
  /* font-size: 28px; */
  padding: 15px;
}
/* .skillSet span {
  font-size: 18px;
}
 */
.hobbies {
  /*  background-color: yellowgreen; */
  /*  font-size: 28px; */
  padding: 15px;
}
/* .hobbies h5 {
  font-size: 32px;
} */

footer {
  margin-top: 50px;
  text-align: center;
}

/* Font Sizes */

p,
li {
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

span {
  font-size: calc(12px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}
h1 {
  font-size: calc(48px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}
h2,
h3,
h4,
h5,
h5 {
  font-size: calc(18px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}
footer {
  font-size: calc(8px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}
